## <h2 style="text-align:center;color:red;font-family:cursive">101 Pandas Practice Questions.</h2>
### <h3 style="text-align:left;color:skyblue;font-family:cursive">From basic to Intermediate.</h3>
#### (1-22) Questions.

In [26]:
import pandas as pd
import numpy as np

## Question - 1
### Problem Statement : How to import pandas and check the version?

In [2]:
pd.__version__

'1.2.4'

In [3]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 2cb96529396d93b46abab7bbc73a208e708c642e
python           : 3.9.5.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.18362
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.2.4
numpy            : 1.19.4
pytz             : 2020.4
dateutil         : 2.8.1
pip              : 21.1.2
setuptools       : 57.0.0
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.6.3
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 3.0.1
IPython          : 7.26.0
pandas_datareader: None
bs4              : 4.9.3
bottleneck       : None
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.4.2
numexpr          : None
odfpy            : None
openpyxl         : 3.0.7
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.6.3
sqlalchemy       : 1.4.22
tables           : None
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : None
numba            : None

## Question - 2
### Problem Statement :  How to create a series from a list, numpy array and dict?

In [4]:
prac_list = list('hrishikeshkothawade')
prac_array = np.arange(0,20,1)
prac_dict = dict(zip(prac_list,prac_array))

series1 = pd.Series(data=prac_dict)
series2 = pd.Series(data=prac_list)
series3 = pd.Series(data=prac_array)
print(series1)
print(series2)
print(series3)

h    13
r     1
i     5
s     8
k    10
e    18
o    11
t    12
a    16
w    15
d    17
dtype: int64
0     h
1     r
2     i
3     s
4     h
5     i
6     k
7     e
8     s
9     h
10    k
11    o
12    t
13    h
14    a
15    w
16    a
17    d
18    e
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
dtype: int32

## Question - 3
### Problem Statement : How to convert the index of a series into a column of a dataframe?

In [5]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
#ser
df = pd.DataFrame(data=ser).reset_index()
df.columns = ['Index','value']
df.head()

  Index  value
0     a      0
1     b      1
2     c      2
3     e      3
4     d      4

## Question - 4
### Problem Statement : How to combine many series to form a dataframe?

In [6]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
#Solution 1
df = pd.concat([ser1,ser2],axis=1)
df.head()

#solution 2
df = pd.DataFrame({'col1':ser1,'col2':ser2})
df.head()

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

## Question - 5
### Problem Statement : How to assign name to the seriesâ€™ index?

In [7]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabets'
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

## Question - 6
### Problem Statement : How to get the items of series A not present in series B?

In [8]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
#solution 1
ser1[~ser1.isin(ser2)] #not is in
#ser1[ser1.isin(ser2)] #is in


# #solution 2
# ser3 = (set(ser1) - set(ser2))
# # ser3

0    1
1    2
2    3
dtype: int64

## Question - 7
### Problem Statement : How to get the items not common to both series A and series B?

In [9]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

union_1d = pd.Series(np.union1d(ser1,ser2))
inter_1d = pd.Series(np.intersect1d(ser1,ser2))
res = union_1d[~union_1d.isin(inter_1d)]
res

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

## Question - 8
### Problem Statement : How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [10]:
ser = pd.Series(np.random.normal(10, 5, 25))
df = pd.DataFrame(ser)
print(np.percentile(ser,q=[0,25,50,75,100]))
#100 percentile means max
df.describe()

[-3.35972164  7.36793538 11.27189109 16.85939568 22.93617346]

               0
count  25.000000
mean   11.722435
std     6.499582
min    -3.359722
25%     7.367935
50%    11.271891
75%    16.859396
max    22.936173

## Question - 9
### Problem Statement : How to get frequency counts of unique items of a series?

In [11]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

d    7
f    6
c    4
b    4
g    3
e    2
a    2
h    2
dtype: int64

## Question - 10
### Problem Statement : How to keep only top 2 most frequent values as it is and replace everything else as â€˜Otherâ€™?

In [12]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser.value_counts()[:2])
ser[~ ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

2    6
4    4
dtype: int64

0         2
1         2
2         2
3         4
4         2
5     Other
6         2
7         2
8         4
9     Other
10        4
11        4
dtype: object

## Question - 11
### Problem Statement : How to bin a numeric series to 10 groups of equal size?

In [13]:
ser = pd.Series(np.random.random(20))
pd.qcut(ser,q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0     5th
1    10th
2     1st
3     9th
4     4th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

## Question - 12
### Problem Statement : How to convert a numpy array to a dataframe of given shape?

In [14]:
ser = pd.Series(np.random.randint(1, 10, 35))
ser.values.reshape(7,5)

array([[9, 2, 2, 4, 5],
       [8, 5, 5, 9, 3],
       [5, 7, 9, 7, 9],
       [1, 4, 9, 7, 4],
       [8, 7, 7, 9, 2],
       [6, 6, 1, 9, 7],
       [4, 9, 9, 7, 2]])

## Question - 13
### Problem Statement : How to find the positions of numbers that are multiples of 3 from a series?

In [15]:
ser = pd.Series(np.random.randint(1, 10, 7))
def multiple_of_3(x):
    res = x % 3 == 0
    return res

ser = ser.apply(multiple_of_3)
res = ser[ser].index
res

Int64Index([5, 6], dtype='int64')

## Question - 14
### Problem Statement :  How to extract items at given positions from a series

In [16]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

## Question - 15
### Problem Statement :  How to stack two series vertically and horizontally ?

In [17]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
pd.concat([ser1,ser2],axis=1)
pd.concat([ser1,ser2],axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

## Question - 16
### Problem Statement : How to get the positions of items of series A in another series B?

In [18]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
#Solution 1
[pd.Index(ser1).get_loc(i) for i in ser2]

#Solution 2
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

## Question - 17
### Problem Statement : How to compute the mean squared error on a truth and predicted series?

In [19]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
#mean squared error --> .mean()**2
np.mean((truth-pred)**2)

0.14342726859991473

## Question - 18
### Problem Statement : How to convert the first character of each element in a series to uppercase?

In [20]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
res = [i.title() for i in ser]
res

['How', 'To', 'Kick', 'Ass?']

## Question - 19
### Problem Statement :  How to calculate the number of characters in each word in a series?

In [21]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
res =[len(i) for i in ser] 
res = pd.DataFrame(res)
res

   0
0  3
1  2
2  4
3  4

## Question - 20
### Problem Statement :  How to compute difference of differences between consequtive numbers of a series?

In [22]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
ser.diff().tolist()
ser.diff().diff().tolist()

[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

## Question - 21
### Problem Statement : How to convert a series of date-strings to a timeseries?

In [23]:
import datetime
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

## Question - 22
### Problem Statement :  How to get the day of month, week number, day of year and day of week from a series of date strings?

In [24]:
from dateutil.parser import parse
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
datetime = ser.map(lambda x: parse(x))
Date = datetime.dt.day.to_list()
Year = datetime.dt.year.to_list()
week = datetime.dt.week.to_list()
print("Week",week)
print("Date",Date)
print("Year",Year)

Week [53, 5, 9, 14, 19, 23]
Date [1, 2, 3, 4, 5, 6]
Year [2010, 2011, 2012, 2013, 2014, 2015]

C:\Users\Admin\AppData\Local\Temp/ipykernel_14732/3172199334.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  week = datetime.dt.week.to_list()